# Database
*.db

# Virtual environment
venv/

# Static files
static/uploads

# Python cache
*.pyc
*.pyo
*.pyd

# Environmental variables
.env

# Notes for account details
notes for account details for users.txt