astropy==7.2.0
astropy-iers-data==0.2026.2.16.0.48.25
bandit==1.9.2
bcrypt==5.0.0
bleach==6.3.0
blinker==1.9.0
click==8.3.1
colorama==0.4.6
dnspython==2.8.0
email-validator==2.3.0
Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
flask-talisman==1.1.0
Flask-WTF==1.2.2
greenlet==3.3.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
numpy==2.4.2
owasp==0.1
packaging==26.0
pyerfa==2.0.1.5
Pygments==2.19.2
python-dotenv==1.2.1
python-magic-bin==0.4.14
PyYAML==6.0.3
rich==14.2.0
scikit-learn==1.8.0
scipy==1.17.0
SQLAlchemy==2.0.45
stevedore==5.6.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
webencodings==0.5.1
Werkzeug==3.1.4
WTForms==3.2.1
zap==2.1
