{% extends 'base.html '%}

{% block title %} Product Details{% endblock %}

{% block body %}
    {# Display thumbnail #}
    <img alt = "Product Image" src = "{{product.image_url}}">
    {# Product name #}
    <h1>{{product.name}}</h1>
    {# Product price #}
    <h3>{{product.price}}</h3>
    {# Product seller (uses relationship) #}
    <h3>{{product.seller.name}}</h3>
    {# Product description #}
    <p>{{product.description}}</p>

    <form action = "{{url_for('products.add_to_cart', product_id = product.id)}}" method = "POST">
        {# Attach hidden input to insert csrf token inside form #}
        <input type = "hidden" name = "csrf_token" value = "{{ csrf_token() }}">

        <label>Quantity: </label>
        <input type = "number" min = "1" name = "quantity" value = "1" class = "input-field" required>
        <button type = "submit" >Add to Cart</button>
    </form>

{% endblock%}