{% extends 'base.html'%}

{% block title %}View orders{% endblock %}

{% block body %}

{# Filters #}
<form action = "{{url_for('admin.orders')}}" method = "GET" style = "display:inline;">

    {# Status filter #}
    <select name = "status">
        <option value = "all" {% if current_status == 'all' %} selected {% endif %}>All</option>
        <option value = "processing" {% if current_status == 'processing' %} selected {% endif %}>Processing</option>
        <option value = "fulfilled" {% if current_status == 'fulfilled'%} selected {% endif %}>Fulfilled</option>
        <option value = "denied" {% if current_status == 'denied'%} selected {% endif %}>Denied</option>
    </select>

    {# Date filter #}
    <select name = "date">
        <option value = "all" {% if current_date == 'all'%} selected {% endif %}>All</option>
        <option value = "today" {% if current_date == 'today'%} selected {% endif %}>Today</option>
        <option value = "yesterday" {% if current_date == 'yesterday'%} selected {% endif %}>Yesterday</option>
        <option value = "week" {% if current_date == 'week'%} selected {% endif %}>Week</option>
        <option value = "month" {% if current_date == 'month'%} selected {% endif %}>Month</option>
        <option value = "year" {% if current_date == 'year'%} selected {% endif %}>Year</option>
    </select>

    <button type = "submit">Submit</button>

</form>


<div class = "container">
    <h1>Orders</h1>
    {% if orders %}
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer name</th>             
                    <th>Date</th>                
                    <th>Status</th>                
                    <th>Revenue</th>
                    <th>Delivery address</th>
                    <th>Actions</th>                
                </tr>
            </thead>
            <tbody>
                {% for order in orders.items %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.user.name}}</td>
                        <td>{{order.created_at}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.total_price}}</td>
                        <td>{{order.delivery_address}}</td>
                        <td>
                            {# View product detail #}
                            <a href = "{{url_for('seller.order_detail', order_id = order.id)}}">View order</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <div class = "pagination">
        {% if orders.has_prev %}
            <a href = "?page={{orders.prev_num}}">Previous</a>
        {% endif %}
        <p>Page {{orders.page}} of {{orders.pages}}</p>
        {% if orders.has_next %}
            <a href = "?page={{orders.next_num}}">Next</a>
        {% endif %}
    </div>
    {% else %}
        <p>No orders yet. Start marketing asap!</p>
        <a href = "{{url_for('admin.dashboard')}}">Return to dashboard</a>
    {% endif %}
</div>

{% endblock %}