{% extends "base.html" %}

{% block body %}
<div class = "container">
    <h1>Add a product!</h1>
    <form action = "{{url_for('seller.add_product')}}" method = "POST" id = "add_product-form" enctype = "multipart/form-data">
        {# Attach hidden input to insert csrf token inside form #}
        <input type = "hidden" name = "csrf_token" value = "{{ csrf_token() }}">

        <label>Name:</label>
        <input type = "text" name = "name" placeholder = "Name" class = "input-field" required>
        <br>

        <label for = "description">Description: </label>
        <small>Markdown supported: **bold**, *italic*, - lists, # headings</small>
        <textarea name = "description" id = "description" placeholder = "Enter your product description" class = "input-field" required></textarea>
        <br>

        <label>Price:</label>
        <input type = "number" name = "price" placeholder = "Price" class = "input-field" step = "0.01" min = "0.01" required>
        <br>
        
        <label>Thumbnail:</label>
        <input type = "file" name = "product_thumbnail" accept = "image/*" class = "input-field" required>
        <br>

        <button type = "submit">Add product</button>
    </form>
</div>
{% endblock %}