{% extends 'base.html '%}

{% block title %}Order item details{% endblock %}

{% block body %}

    <div class = "container p-2">
        <h1>Order item details</h1>
        {# Product name #}
        <p><strong>Product:</strong> {{order_item.product.name}}</p>
        {# Quantity #}
        <p><strong>Quantity:</strong> {{order_item.quantity}}</p>
        {# Product price at purchase #}
        <p><strong>Product price at purchase:</strong> {{order_item.product_price_at_purchase}}</p>

        <div class = "mt-2">
            <a href = "{{url_for('seller.order_detail', order_id = order_item.order_id)}}" class = "btn btn-secondary">Return to order details</a>
        </div>
    </div>


{% endblock %}

