<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %} 
        
        {% endblock %}
    </title>
</head>
<body>
<nav class = "navbar">
    <ul class = "navlist">
        <li> <a href = "{{url_for('home')}}">Home</a> </li>
        <li> <a href = "{{url_for('auth.account')}}">Account</a> </li>
        {% if current_user.role == "seller"%}
            <li> <a href = "{{url_for('seller.dashboard')}}">Manage My Products</a></li>
        {% endif %}
        {% if current_user.role == "admin"%}
            <li> <a href = "{{url_for('seller.dashboard')}}">Manage ABC Products</a></li>
            <li> <a href = "{{url_for('admin.dashboard')}}">Manage Users & Site</a></li>
        {% endif %}
    </ul>
</nav>

{% with messages = get_flashed_messages(with_categories = true)%}
    {% if messages %}
            <div class = "flash-messages">
                {% for category, message in messages %}
                    <div class = "flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
    {% endif %}
{% endwith %}

{% block body %}

{% endblock %}
    
</body>
</html>