{% extends 'base.html' %}

{% block title %}
Home - Amazing Bargain Central
{% endblock %}


{% block body %}
<div class = "container">
    <h1>Welcome to Amazing Bargain Central!</h1>
    <p>The store where you can find anything you are looking for!</p>

    {# Search bar #}
    <form action = "{{ url_for('products.search') }}" method = "GET">
        <input type = "text" name = "query" placeholder = "Search products...">
        <button type = "submit">Search</button>
    </form>
    <br>

    {# Basically put this up top for the user to see. They can still browse products without logging in #}
    {% if current_user.is_authenticated %}
        <p>Hello, {{current_user.name}}! Browse our products below.</p>
    {% else %}
        <a href = "{{url_for('auth.login')}}">Sign in to purchase products!</a>
    {% endif %}


    <h2>Featured Products</h2>
    {% if products %}
         <div class="product_container">
            {% for product in products %}
                <div class="product-card">
                    <a href="{{url_for('products.product_detail', product_id=product.id)}}">
                        <img src="{{url_for('static', filename=product.image_path)}}" alt="{{product.name}}">
                        <div class="product-info">
                            <h3>{{product.name}}</h3>
                            <div class="price">£{{product.price}}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Sorry, currently there are no products available yet.</p>
    {% endif %}

</div>
{% endblock %}