{% extends 'base.html' %}

{% block title %}Order detail{% endblock %}

{% block body %}
<div class = "container mt-2 pt-1">
    <h1>Order #{{order.id}}</h1>
    <p><strong>Date ordered:</strong> {{order.created_at}}</p>
    <p><strong>Order status:</strong> {{order.status}}</p>
    <p><strong>Delivery address:</strong> {{order.delivery_address}}</p>

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>    
        <tbody>
            {% for item in order_items %}
                <tr>
                    <td>{{item.product.name}}</td>
                    <td>{{item.quantity}}</td>                
                    <td>{{item.product_price_at_purchase}}</td>                
                    <td>{{item.quantity * item.product_price_at_purchase}}</td>                
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan = "3" style = "text-align: right;"><strong>Total:</strong></td>
                <td><strong>{{order.total_price}}</strong></td>
                {# <td></td> #}
            </tr>
        </tfoot>
    
    </table>

    <div class = "link-group mt-2">
        <a href = "{{url_for('auth.account')}}" class = "btn btn-link">Back to Account</a>
        <a href = "{{url_for('home')}}" class = "btn btn-link">Continue shopping</a>
    </div>
</div>
{% endblock %}